{% extends 'base.html' %}
{%block title%}
База данных
{%endblock%}
{%block header%}
База данных
{%endblock%}
{%block main%}
<div id="tables">
    {%if action == "main"%}
    cистема управления база данных:{{db_system}}<br>
    Таблицы в базе данных {{db}}:
    <br>
    {%for el in data%}
    <a href="/database?action={{el[0]}}">{{el[0]}}</a><br>
    {% endfor %}
    <a href="/database?action=sql_query">Выполнить sql запрос</a>
    {%  elif action == "sql_query"  %}
    <form action="/database" method="POST">
    Запрос:<br>
    <textarea id="sql" name="sql"></textarea>
    <br>
    <input type="submit" value="Выполнить sql запрос">
    </form>
    {%if data%}
    <p style="color:green">{{data}}</p>
    {%endif%}
    {%else%}
Данные в таблице {{ action }}:<br>
   <table border="1">
   <tr>
    {%for el in column_names%}
    {% if db_system == "sqlite" %}
    <!-- Если субд sqlite читаем 2 элемент кортежа -->
    <th>{{el[1]}}</th>
    {%else%}
    <!-- Если субд mysql читаем 1 элемент кортежа -->
    <th>{{el[0]}}</th>
    {%endif%}
    {% endfor %}
   </tr>
    {%for el in data%}
   <tr>
    <!-- Разбираем кортеж на части и вставляем данные по столбцам таблицы-->
    {% for elm in el %}
    <td>{{elm}}</td>
     {% endfor %}
</tr>
    {% endfor %}
</table>
    <br>
    <a href="/database?action=main">Вернуться к таблицам</a>
    {% endif %}
  </div>
 {%endblock%}