{% extends 'base.html' %}
{%block title%}
Панель управления
{%endblock%}
{%block header%}
Добро пожадовать в панель управления
{%endblock%}
{%block main%}
<textarea id="txt" readonly ></textarea>
<script type="text/javascript">
function sendRequest() {
  $.ajax({
  url: '/',
  method: 'post',
  dataType: 'text',
  success: function(data){
    $("#txt").text(data);
  }
});
}
//Один раз запрашиваем логи чтобы просто не было пустого экрана
sendRequest()
//Ставим таймер чтобы мы запрашивали логи с опредёлнной частотой
setInterval(sendRequest,{{ con.log_reading_frequency }});
   </script>
{%endblock%}