<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <header>
   	  <a href="/"><h3 align="center">{%block header%} {%endblock%}</h3></a>
   </header>
   <div id="links" align="center">
    <div>
      <a href="/">Главная</a>
    </div>
   	<div>
      <a href="/settings">Настройки</a>
    </div>
   	<div>
      <a href="/database?action=main">База данных</a>
    </div>
    <div>
      <a href="/admin_panel?action=main">Админ панель</a>
    </div>
    <div>
      <a href="/statistics">Статистика</a>
    </div>
    <div>
      <a href="/information">Информация</a>
    </div>
   </div>
   <div id="main">
    <div id="time">{{ date }}</div>
{%block main%}{%endblock%}
   </div>
</body>
</html>