<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
      <div id="logo" onclick="window.location.href = 'http://127.0.0.1:5000'">
        Mtb
      </div>
      <nav>
        <a href="/admin_panel?action=main" title="Администраторская панель" >Администраторская панель</a>
        <a href="/settings"  title="Зайти в настройки">Настройки</a>
        <a href="/database?action=main"  title="Зайти в базу данных">База данных</a>
        <a href="/statistics"  title="Пасмотреть Статистику">Статистика</a>
        <a href="/information"  title="Узнайте больше о сервере">Информация</a>
    </nav>
  </header>
  <div id="main">
    <div id="time">{{ date }}</div>
    {%block main%}{%endblock%}
  </div>
</body>
</html>