{% extends 'base.html' %}
{%block title%}
База данных
{%endblock%}
{%block main%}
    {%if admin[0]%}
        {% if admin[1]['level'] == 0 %}
            <div id="tables">
                {%if action == "main"%}
                    Таблицы в базе данных {{db}}:
                    <br>
                    {%for el in data%}
                    <a href="/database?action={{el}}">{{el}}</a><br>
                    {% endfor %}
                    <a href="/database?action=sql_query">Выполнить запрос к базе данных</a><br>
                    {%if msg%}
                        <b>{{msg}}</b>
                    {%endif%}
                {%  elif action == "sql_query"  %}
                    <form action="/database" method="POST">
                    Запрос:<br>
                    <textarea id="query" name="query"></textarea>
                    <br>
                    <input type="submit" value="Выполнить sql запрос">
                    </form>
                    {%if msg%}
                        <b>{{msg}}</b>
                    {%endif%}
                {%else%}
                    {%if collection != None%}
                        {%for i in range(0,collection|length)%}
                        <div id="db_item">
                            {%for j in collection[i]%}
                            {{j[0]}}:{{j[1]}}<br>
                            {%endfor%}
                        </div>
                        {%endfor%}
                    {%else%}
                        Данные в таблице не обноруженны
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
 {%endblock%}