{% extends 'base.html' %}
{%block title%}
Настройки
{%endblock%}
{%block main%}
    {%if admin[0]%}
        {% if admin[1]['level'] == 0 %}
            <div id="settings">
                <form action="/settings" method="POST">
                    <label>Токен от телеграмма: <input name="telegram_token" value="{{ con['token'] }}"></label><br>
                    <label>Токен от openweathermap.org: <input name="owm_token" value="{{ con['weather_token'] }}"></label><br>
                    <label>Сообщение при старте:<input name="start_msg" value="{{ con['on_start_msg'] }}"></label><br>
                    <label>Количество выводимых новостей пользователям:<input name="iteration_news" type="number" value="{{ con['global_iteration_news'] }}"></label><br>
                    <label>Пароль от администраторской панели:<input name="admin_panel_password" value="{{ con['admin_password'] }}"></label><br>
                    <label>Частота чтения логов(1000 мс = 1 с):<input name="log_reading_frequency" type="number" value="{{ con['log_reading_frequency'] }}"></label><br>
                        <input type="submit" value="Создать новый конфиг">
                    {% if msg %}
                        <br>
                        <p style="color:green;">{{msg}}</p>
                    {% endif %}
                </form>
            </div>
        {%else%}
            <b>Недостачно прав</b>
        {%endif%}
    {%else%}
        <b>Ошибка токена</b>
    {%endif%}
{%endblock%}